.App{
  float: left;  
  background-color: #444444;
  color: white;
}
.Site{
 
  color: #444444;
}

.Create{
  background-color: #444444;
  min-height: 90vh;
  width: 98.7vw;
}
.center{
  text-align: center;
  margin: 0px;
}
.NavBar{
  min-height: 10vh;
  line-height: 10vh;

  background-color: lightgray;
}
.Card {
 min-height: 350px;
 max-width: 200px; 
 background-color: red;
 color: white;
 margin: 50px;
 border-style: groove;
 border-radius: 30px;
 border-color: orange;
 float: left;
}

hr{
  margin: 0px;
  padding: 0px;
}

.info{
  padding: 5px;
  text-align: justify;
}
.pic{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin: 0px;
  padding: 0px;
  min-height: 140px;
  min-width: 140px;
  height: 140px;
  width: 200px;
}

.cardBody{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  max-height: 140px;
  min-height: 140px;
  overflow: hidden;
}

.cardName{
  text-align: center;
  font-weight: bold;
  margin: 0px;
}

.bottom{
  width: 200px;
  float: left;
  font-size: 45px;
  margin: 0px;
  padding: 0px;
}

.bottomRight{
  min-width: 95px;
  max-width: 95px;
  float: left;
}

.bottomLeft{
  min-width: 95px;
  max-width: 95px;
  margin-left: 10px;
  float: left;
}

.left{
  float: left;
}

.right{
  float: right;
}

.createButton{
  height: 10vh;
  width: 20vw;
  line-height: 10vh;
  font-size: 2vw;
}

a{
 color: inherit;
}

.createTable{
  margin-top: 50px;
  line-height: 5vh;
  font-size: 5vh;
  width: 50vw;
}

.tableInput{
  line-height: 5vh;
  font-size: 5vh;
  width: 50vw;
}

.footer
{
  text-align: center;
  font-style: italic;
  font-size: 3vh;
}